<div class="border-1">
  <button (click)="afficherPokemon('bulbizarre')">Afficher bulbizarre</button>
  <button (click)="afficherPokemon('pingoleon')">Afficher Pingoleon</button>
  <button (click)="afficherPokemon('arcko')">Afficher arcko</button>
  <div *ngIf="pokemon">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{pokemon}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image width="200px" src="assets/image/{{pokemon}}.png" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>






</div>
